.button {
    color: var(--clr-bg-base);
    padding:var(--space-xs) var(--space-xs);
    background: var(--clr-light-blue);
    border-radius: .5rem;
    border: none;
}
.button:focus-within, .button:hover{
    transition: transform 350ms cubic-bezier(0,.26,.13,1.55), background 150ms, color 150ms;
}
.button:hover, .button:focus-within {
    background: var(--clr-blue);
    transform: scale(1.03);
}
.button:active {
    transform: scale(1);
}
.button.button__danger {
    background: var(--clr-error);
}
.button.button__danger:focus-within, .button.button__danger:hover {
    background: var(--clr-orange);
}
.button.button__secondary {
    color: var(--clr-text);
    background: var(--clr-bg-crust);
}
.button.button__secondary:focus-within, .button.button__danger:hover {
    background: var(--clr-bg-crust);
}

.callout {
    border: 2px solid var(--clr-info, var(--clr-blue));
    border-radius: .5rem;
    padding:var(--space-xs) var(--space-xs);
}
