{% extends "base.html" %}

{% block content %}
    <main>
        <article class="flow region wrapper">
            <h2>Clients</h2>

            {% include 'webshop/search_form.html' %}
            {% include 'webshop/data_table.html' %}

        </article>
        <article class="flow region wrapper">
            <h2>Produits</h2>

            {% include 'webshop/search_form.html' %}
            {% include 'webshop/data_table.html' %}

        </article>
        <article class="flow region wrapper">
            <h2>Commandes</h2>

            {% include 'webshop/search_form.html' %}
            {% include 'webshop/data_table.html' %}

    </main>
{% endblock %}
