<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'webshop/css/style.css' %}">
    <title>Webshop</title>
</head>
<body>
<header class="text-align-center">
    <h1>Webshop</h1>
</header>
<main>
    <article class="flow region wrapper">
        <h2>Clients</h2>
        <form class="search-form flow">
            <label for="search">Rechercher un client</label>
            <div class="search-form__controls sidebar">
                <input type="text" name="search" id="search" placeholder="Jean Dupont..." required>
                <button class="button">Chercher</button>
            </div>
        </form>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
            {% if customers.error %}
                </table>
                <p class="error">Oups, une erreur est survenue</p>
            {% elif customers|length > 0 %}
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.last_name }}</td>
                        <td>{{ customer.first_name }}</td>
                        <td>{{ customer.address }}</td>
                        <td>
                            <button class="button">Modifier</button>
                            <button class="button button__danger">Supprimer</button>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
    </article>
    <article class="flow region wrapper">
        <h2>Produits</h2>
        <form class="search-form flow">
            <label for="search">Rechercher un produit</label>
            <div class="search-form__controls sidebar">
                <input type="text" name="search" id="search" placeholder="Chaussettes..." required>
                <button class="button">Chercher</button>
            </div>
        </form>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Lieu d'import</th>
                <th>Prix</th>
                <th>Stocks</th>
                <th>Actions</th>
            </tr>
            {% if products.error %}
                </table>
                <p class="error">Oups, une erreur est survenue</p>
            {% elif products|length > 0 %}
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.import_location }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.stocks }}</td>
                        <td>
                            <button class="button">Modifier</button>
                            <button class="button button__danger">Supprimer</button>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
    </article>
    <article class="flow region wrapper">
        <h2>Commandes</h2>
        <form class="search-form flow">
            <label for="search">Rechercher une commande</label>
            <div class="search-form__controls sidebar">
                <input type="text" name="search" id="search" placeholder="1485..." required>
                <button class="button">Chercher</button>
            </div>
        </form>
        <table>
            <tr>
                <th>ID</th>
                <th>Client</th>
                <th>Produit</th>
                <th>Date</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
            {% if orders.error %}
                </table>
                <p class="error">Oups, une erreur est survenue</p>
            {% elif orders|length > 0 %}
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.description }}</td>
                        <td>{{ order.import_location }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.stocks }}</td>
                        <td>
                            <button class="button">Modifier</button>
                            <button class="button button__danger">Supprimer</button>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
    </article>
</main>
</body>
</html>